.home{
    background:color($colors, asthmaOne);
    color:color($colors, asthmaTwo);
    margin-top:30px;
    text-align: center;
}

.welcome{
    background:color($colors, medium);
}

.toolbar-title{
    text-align: center;
}